html{
    background-color: beige;
    border-top-color: blueviolet;
}

h4{
    text-align: center;
}
.timer{
    background-color: antiquewhite;
    border-bottom-color: aqua;
}
div{
    text-align: center;
    transition: 0.5s;
}

h2{
    text-align: center;
}
h3{
    text-align: center;
}

.board{
    
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    
    
}
.board td:hover {
    background-color: lightsalmon;
}
.occupied {
    background-color: lightgray;
}
.unoccupied {
    background-color: white;
}

.board td {
    width: 30px;
    height: 30px;
    text-align: center;
    transition: 0.5s;
}
